[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/api/football-api-cache/*"
  to = "/.netlify/functions/football-api-cache/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[dev]
  command = "npm run dev"
  port = 8888
  targetPort = 5173
  framework = "vite"
  autoLaunch = true

# Scheduled function configuration
# This ensures Netlify recognizes the scheduled function
[functions."update-matches"]
  schedule = "*/30 * * * *"  # Every 30 minutes

# Scheduled function configuration
# This ensures Netlify recognizes the scheduled function for Weekly Leaderboard
[functions."update-weeklyleaderboard"]
  schedule = "0 20 * * 0" # Every Sunday at 20:00 (8:00 PM) UTC which is 12:00 AM (midnight) in UAE